<!DOCTYPE html>
<HTML>
<HEAD>
<style>

 body {
   background-color: #cc3399
      }

</style = "width: 100%; text-align:center;">
</HEAD>
</HTML>
<center><h1>Hello there!</h1></center>


  <form action="/details" method="post" align="center">
     <label>What's your name?</label><br>
     <input type="text" name="name"> <br> <br>
     <label>When is your birthday?</label><br>
     <label>Day</label><input type="text" name="day">
     <label>Month</label>
  <select name="month">
     <option value="january">January</option>
     <option value="february">February</option>
     <option value="march">March</option>
     <option value="april">April</option>
     <option value="may">May</option>
     <option value="june">June</option>
     <option value="july">July</option>
     <option value="august">August</option>
     <option value="september">September</option>
     <option value="october">October</option>
     <option value="november">November</option>
     <option value="december">December</option>
  </select>
  <div style "width: 100%">
<br><input type="submit" name="Go" value="Go" style="font-size: large; color: black; background-color: purple;"></br>
</div>
</form>
</div>
</div>
